- form_action ||= "Create"
= form_for [:app, @income_source], html: {class: "px-5"} do |f|
  = f.hidden_field :user_id, value: current_user.id

  .form-group.row
    = f.label :name, class: 'col-sm-2 col-form-label'
    .col-sm-10
      = f.text_field :name, placeholder: "Name", class: 'form-control'

  .form-group.row
    = f.label :amount, class: 'col-sm-2 col-form-label'
    .col-sm-10
      .input-group.mr-10.ml-10
        .input-group-prepend
          .input-group-text= currency_symbol
        = f.number_field :amount, placeholder: "Amount", step: :any, class: 'form-control'

  = f.fields_for :frequency, @income_source.frequency || @income_source.build_frequency do |ff|
    .form-group.row
      = ff.label :amount, class: 'col-sm-2 col-form-label' do
        Frequency
      .col-sm-10
        .input-group
          .input-group-prepend.mr-2
            = ff.number_field :amount, min: 1, step: 1, class: 'form-control'
          = ff.select :slug, options_for_select(Frequency.select_options, @income_source.frequency&.slug), {}, class: 'form-control', prompt: "Select"

    .form-group.row
      = ff.label :start_date, class: 'col-sm-2 col-form-label'
      .col-sm-10
        .row.ml-0
          = ff.date_select :start_date, {prompt: true}, class: 'form-control col-sm-2 mr-2'
  = f.submit form_action, class: 'btn btn-primary'
