%h2 
  Income Sources
  = link_to new_app_income_source_path, class: "ml-5" do
    %btn.btn.btn-info New Income Source

%table
  %thead
    %th.px-3 Name
    %th.px-3 Next Pay
    %th.px-3 Amount
    %th
  %tbody
    - @income_sources.each do |income_source|
      %tr
        %td.px-3= income_source.name
        %td.px-3{ data: { toggle: 'tooltip', title: income_source.frequency.next_date.strftime("%d/%m/%Y") } }
          = distance_of_time_in_words_to_now(income_source.frequency.next_date)
        %td.px-3= Money.new(income_source.amount).format
        %td
          %button.btn.btn-primary= link_to "Edit", edit_app_income_source_path(income_source), class: "text-white"
