- if current_user.income_sources.none?
  %p 
    You currently have no income sources set up.
    = link_to "Click Here", new_app_income_source_path
    to define your income sources.
- if current_user.payments.none?
  %p
    You currently have no pending payments set up.
    = link_to "Click Here", new_app_payment_path
    to create new payments.

- if current_user.income_sources.any?
  %h3 
    Next pay in
    = distance_of_time_in_words_to_now(@next_pay.frequency.next_date)
    (#{@next_pay.name})

%h3 Payments To Do
- if @paycycle_payments.any?
  - if @paycycle_payments.active.any?
    = render partial: "app/payments/upcoming_payments", locals: { payments: @paycycle_payments.active }
  - else
    You've completed all your payments for this paycycle! Congratulations!
- else
  You have no payments scheduled for this paycycle.
  = link_to "Click Here", new_app_payment_path
  to create some new ones.

%h3 Next Pay's Payments
- if @upcoming_payments.any?
  - if @upcoming_payments.active.any?
    = render partial: "app/payments/upcoming_payments", locals: { payments: @upcoming_payments.active }
  - else
    You've completed all your payments for this paycycle! Congratulations!
- else
  You have no payments scheduled for this paycycle.
  = link_to "Click Here", new_app_payment_path
  to create some new ones.
