%nav.navbar.navbar-dark.navbar-expand-lg.fixed-top.bg-dark.p-0.shadow
  %span.navbar-brand.col-sm-3.col-md-2
    Paycyclr
  %ul.navbar-nav.px-3
    %li.nav-item
      = link_to edit_user_registration_path, class: "nav-link" do
        = icon('person-fill')
        = current_user.name
    %li.nav-item.text-nowrap
      = link_to destroy_user_session_path, method: :delete, class: "nav-link" do
        = icon('box-arrow-right')
        Sign Out
