%h2 
  Upcoming Payments
  = link_to new_app_payment_path, class: "ml-5" do
    %btn.btn.btn-info New Payment

- if @payments.any?
  = render partial: 'upcoming_payments', locals: {payments: @payments}

%br
%hr
%br

%h2 
  Payment Schedules

%table
  %thead
    %th.px-3 Name
    %th.px-3 Account
    %th.px-3 Amount
    %th.px-3 Next Payment
    %th.px-3 Optional
    %th
  %tbody
    - @schedules.each do |schedule|
      %tr
        %td.px-3= schedule.name
        %td.px-3= schedule.account
        %td.px-3= "-#{Money.new(schedule.amount).format}"
        %td.px-3{ data: { toggle: 'tooltip', title: schedule.frequency.next_date.strftime("%d/%m/%Y") } }
          = distance_of_time_in_words_to_now(schedule.frequency.next_date)
        %td.px-3= schedule.optional? ? "Yes" : "No"
        %td
          %button.btn.btn-primary= link_to "Edit", edit_app_payment_schedule_path(schedule), class: "text-white"
