!!!
%html
  %head= render partial: "layouts/shared_heads"
  %body
    = render "shared/top_nav"
    .container-fluid
      .row
        = render "shared/left_nav"
        %main.col-md-9.ml-sm-auto.col-lg-10.px-4.pt-5
          - if notice.present?
            .alert.alert-success
              = notice.html_safe
          - if alert.present?
            .alert.alert-danger
              = alert.html_safe
          = yield
