!!!
%html
  %head= render partial: "layouts/shared_heads"
  %body
    = render "shared/top_nav"
    .container-fluid
      .row
        = render "shared/left_nav"
        %main.col-md-9.ml-sm-auto.col-lg-10.px-4
          %p.notice
            = notice
          %p.alert
            = alert
          = yield
